NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_RPC_URL=
NEXT_PUBLIC_PACKAGE_ID_CORNERSTONE=
NEXT_PUBLIC_ENABLE_ZKLOGIN=false
NEXT_PUBLIC_ENABLE_SPONSORED_TX=false
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
SPONSOR_BACKEND_URL=
