NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_RPC_URL=
NEXT_PUBLIC_PACKAGE_ID_CORNERSTONE=0xe7336d0b9288a17e21e3980210798b9c7b6175922858b3c13c5218bcabad6f9a
NEXT_PUBLIC_ENABLE_ZKLOGIN=false
NEXT_PUBLIC_ENABLE_SPONSORED_TX=false
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
SPONSOR_BACKEND_URL=
